* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 30px;
  margin: 0;
  background-color: #0d1b2a;
  color: #ffffff;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo .logoImage {
  max-width: 50px;
  max-height: 50px;
}

.logoImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header .headerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.headerList .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4db6ac;
  border-radius: 8px;
}

.hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.2)),
    url("./images/heroImage.jpg") no-repeat center / cover;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: #ffffff;
  gap: 16px;
}

.hero h1 {
  font-size: 46px;
  font-weight: 600;
  margin: 0;
  max-width: 40%;
}

.hero p {
  font-size: 20px;
  max-width: 40%;
}
.hero img {
  width: 100%;
}

.hero a {
  padding: 15px 20px;
  background-color: #4db6ac;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}

.benefit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e0e1dd;
  padding: 40px 20px;
}

.benefitCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 12px;
  border-right: 2px solid #ccc;
  padding: 0 10px;
}

.benefitCardImage {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #4db6ac;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.benefitCardImage img {
  width: 70%;
  height: 70%;
}

.benefitCardText h6 {
  margin: 0;
  font-size: 18px;
}

.benefitCardText p {
  margin: 10px 0;
  font-size: 12px;
  padding-right: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  background-color: #0d1b2a;
  padding-top: 15px;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLogoImage {
  max-width: 50px;
  max-height: 50px;
}

.footerLogoImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footerNavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footerNavbar p {
  margin-top: 0;
}
.footerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerMediaCard img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.footerMedia {
  display: flex;
  margin: 0;
  padding: 0 8px;
  gap: 10px;
}

.footerMediaCard {
  max-width: 35px;
  max-height: 35px;
}
